body{
    background-color:rgb(48,53,52);
    color:white;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

#title img{
    width:100%;
    margin-bottom: 50px;
}

header{
    background-color: rgb(12,22,26);
    color:rgb(119,184,231);
    padding: 20px;
    
}

#headTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#headTop img {
  max-width: 15%;
  height: auto;
}

#headbot {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
  margin: 10px 20px;
}

#headbot p,
#headbot a {
  font-size: 24px;
  margin: 0;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}

#headbot a {
  text-decoration: none;
  color: inherit;
}

footer {
    background-color: rgb(12, 22, 26);
    color: rgb(119, 184, 231);
    padding: 20px;
    font-size: 24px;
    margin-top: 50px;
}

footer img {
    width: 20%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.grid-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-text p {
    margin: 5px 0;
    cursor: pointer;
}

#homebody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;             
    max-width: 900px;      
    margin: 0 auto;
    text-align: center;
}

#homebody a {
    flex: 1 1 calc(33% - 40px);
    display: flex;
    justify-content: center;
}

#homebody button{
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    border: none;
    width:250px;
    height:250px;
    margin-bottom: 20px;
}

#characters{
    background:url(photos/characters.png);
}

#map{
    background:url(photos/map.png);
}

#merch{
    background:url(photos/merch.png);
}

#videos{
    background:url(photos/videos.png);
}

#lore{
    background:url(photos/lore.png);
}

#more{
    background:url(photos/more.png);
}

#maptitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px
}

#mapbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;             
    max-width: 1100px;      
    margin: 0 auto;
    text-align: center;
}

#homebody a {
    flex: 1 1 calc(33% - 40px);
    display: flex;
    justify-content: center;
}

#mapbody button {
    background-size:cover;
    background-repeat:no-repeat;
    padding: 0;
    border: none;
    width:350px;
    height:100px;
    margin-bottom: 20px;
}

#crossroads{
    background:url(photos/crossroads.png);
}

#greenpath {
    background:url(photos/greenpath.png);
}

#canyon {
    background:url(photos/canyon.png);
}

#wastes {
    background:url(photos/wastes.png);
}

#city {
    background:url(photos/city.png);
}

#cliffs {
    background:url(photos/cliffs.png);
}

#dirtmouth {
    background:url(photos/dirtmouth.png);
}

#peak {
    background:url(photos/peak.png);
}

#grounds {
    background:url(photos/grounds.png);
}

#deepnest {
    background:url(photos/deepnest.png);
}

#gardens {
    background:url(photos/gardens.png);
}

#basin {
    background:url(photos/basin.png);
}

#waterways {
    background:url(photos/waterways.png);
}

#edge {
    background:url(photos/edge.png);
}

#hive {
    background:url(photos/hive.png);
}

#homebutt {
    background-color: rgb(119, 184, 231);
    font-size: 30px;
    color:rgb(12, 22, 26);
    border-radius: 10px;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}